@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* --------------------- [PRESETS] --------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* --------------------- [COLORS VAR] --------------------- */
:root {
  --green: #4FFF4B;
  --purple-bg: #290742;
  --dark-purple: #170027;
  --purple-text: #9E6DC2;
  --grey-text: #F2E7FA;
}

/* --------------------- [HEADER] --------------------- */
header {
  width: 100vw;
  padding: 4rem 15%;
  border-bottom: 4px solid #4FFF4B;
  background: #290742;
}

header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}

header .nav-bar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}

header .nav-item a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0 5px;
  border-left: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  color: #F2E7FA;
}

header .nav-item {
  cursor: pointer;
}

header .nav-item:hover a {
  border-left: 2px solid #4FFF4B;
  color: #fff;
}

header .search {
  display: flex;
  align-items: center;
}

header .search input {
  width: 100%;
  padding: 0.8rem 1.6rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  color: #F2E7FA;
  background: #170027;
}

header .search input::placeholder {
  color: #F2E7FA;
}

header .search img {
  padding: 0.5rem 1.5rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background: #9E6DC2;
}

header .menu-btn {
  display: none;
  cursor: pointer;
}

header .bar {
  width: 28px;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  background: #fff;
}

header .introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  font-family: 'Poppins', sans-serif;
}

header .texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header .texts h1 {
  font-size: 2.5rem;
  color: #9E6DC2;
}

header .texts p {
  font-size: 1.1rem;
  color: #FBF6FF;
  padding-right: 7rem;
}

header .texts a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  color: #9E6DC2;
}

header .texts a:hover {
  color: #b699cb;
}

/* --------------------- [MAIN] --------------------- */
main {
  padding: 4rem 15%;
  font-family: 'Roboto', sans-serif;
  background: #FBF6FF;
}

main .articles-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-bottom: 4rem;
}

main .article-img {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .article-img figure {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

main .article-img .texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .article-img .texts a {
  font-size: 1.6rem;
  font-weight: 800;
  text-decoration: none;
  color: #290742;
}

main .article-img .texts p {
  line-height: 1.5rem;
  padding-right: 3.5rem;
}

main .article .texts {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0 5rem;
}

main .article .texts a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2rem;
  color: #290742;
}

main .article .texts p {
  line-height: 1.5rem;
}

main .right-side {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main .articles-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

main .articles-bottom .article-img {
  gap: 0.6rem;
}

main .articles-bottom .texts p {
  padding: 0;
}

/* --------------------- [MEDIA QUERIES] --------------------- */
@media screen and (max-width: 1708px) {
  header {
    padding: 4rem 10%;
  }

  main {
    padding: 4rem 6%;
  }

  header .texts p, h1 {
    padding: 0;
    text-align: center;
  }

  header .texts {
    align-items: center;
  }

  main .article .texts {
    padding: 0 2rem;
    text-align: center;
  }

  main .articles-top {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 1424px) {
  header, main {
    padding: 2rem 5%;
  }

  header .introduction {
    grid-gap: 2rem;
  }

  header .texts {
    justify-content: space-between;
  }

  header .texts h1 {
    font-size: 2rem;
  }

  header .texts p {
    font-size: 1rem;
  }

  main .articles-bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  main .articles-bottom figure img {
    width: 100%;
  }
}

@media screen and (max-width: 1124px) {
  header .nav-bar {
    width: 35vw;
    height: 60vh;
    position: fixed;
    top: 6.6rem;
    right: -200%;
    flex-direction: column;
    padding: 3rem;
    border-radius: 5px 0 0 5px;
    gap: 4rem;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background: #391056;
  }

  header .nav-bar.active {
    right: 0;
  }
  
  header .nav-item {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: 2px solid #4FFF4B;
  }

  header .nav-item a {
    border: none;
  }

  header .nav-item:hover a {
    border: none;
  }
  
  header .menu-btn {
    display: block;
  }

  header .menu-btn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header .menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  header .menu-btn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  header .search input {
    width: 20rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  header .search img {
    padding: 0.8rem 2rem;
  }

  header .introduction {
    grid-template-columns: 1fr;
    place-items: center;
  }

  header .texts a {
    font-size: 1.4rem;
  }

  main .articles-top {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
    place-items: center;
  }
  
  main .article .texts {
    text-align: center;
    padding: 0 5rem;
  }

  main .article-img {
    padding: 0 5rem;
    text-align: center;
  }

  main .article-img .texts p {
    padding: 0;
  }

  main .article-img figure {
    display: flex;
    align-items: center;
  }

  main .article-img figure img {
    width: 35rem;
  }

  main .articles-bottom {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 824px) {
  header .nav-bar {
    width: 100vw;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 8px 10px #000;
    background: #290742;
  }

  header .nav-item {
    width: 60%;
  }

  main .article-img {
    padding: 0;
  }

  main .article .texts {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  header .search {
    display: none;
  }
  
  header .nav-bar {
    top: 6.3rem;
  }
  
  header .img img {
    width: 100%;
  }

  header .navigation {
    margin-bottom: 3rem;
  }

  main .article-img figure img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  header .texts h1 {
    font-size: 1.6rem;
  }

  header .texts p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  header .nav-item {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  header .img {
    display: none;
  }

  header .texts h1 {
    font-size: 2.2rem;
  }

  header .texts p {
    font-size: 1.2rem;
  }
}